# EditorConfig
# http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[.gitmodules]
indent_style = tab

# shell formatting, read by shfmt
[{*.sh,*.zsh,zshrc,zprofile}]
switch_case_indent = true

[{*.zsh,zshrc,zprofile}]
shell_variant = zsh

[zsh/plugins/**]
ignore = true
