!.gitignore
*.local
Brewfile*.lock.json

# macOS
*.DS_Store
._*
.AppleDouble
.LSOverride
Icon

# linux
*~
.nfs*
.Trash-*

# vim
.netrwhist
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
