"*":
  core:
    telemetryConsent: "no"
    useCustomTitleBar: true
  editor:
    fontFamily: "SF Mono"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  tabs:
    enableVcsColoring: true
  "tree-view":
    autoReveal: true
  welcome:
    showOnStartup: false
".json.source":
  editor:
    scrollPastEnd: true
